:root {
  --primary: #000408;
  --secondary: #0CCD58;
  --tertiary: #0B6A26;
  --light: #DFEFE2;
  --dark: #000801;
}

* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

header {
  color: var(--secondary);
  background-color: var(--primary);
  padding: 30px;
  /* height: 10vh; */
  text-align: center;
  /* position: fixed; */
  width: 100%;
}

.box {
  /* border: solid var(--primary);   */
  /* background: black; */
  flex: 33%;
  margin: 20px;
  text-align: center;
  vertical-align: center;
}

.row {
  display: flex;
  height: 35vh; 
}

#box1 p {
  display: inline;
}
#box2 img {
  transform: scale(.75);
  object-position: center center;
}

footer {
  clear: both;
  color: var(--secondary);
  background-color: var(--primary);
  padding: 30px;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  line-height: normal;
}