:root {
  --primary: #000408;
  --secondary: #0CCD58;
  --tertiary: #0B6A26;
  --light: #DFEFE2;
  --dark: #000801;
}

body {
  background-color: var(--primary);
  overflow-x: hidden;
}

header {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--primary);
}
#home {
  text-decoration: none;
  color: var(--secondary);
  font-family: 'Courier New', Courier, monospace;
  /* font-weight: bold; */
  font-size: xx-large;
}
#level-tracker {
  color: #0CCD58;
  font-size: x-large;
  float: right;
  padding-right: 50px;
}

.row {
  display: flex;
  height: 30vh; 
}
.box {
  border:none;
}

#box5 {
  background-color: var(--primary);
  color: var(--secondary);
  display: table;
  border-radius: 0;
  z-index: 1;
  box-shadow: rgba(12, 205, 88, 0.4) 0 0 0 5px, rgba(12, 205, 88, 0.3) -5px 5px 0 5px, rgba(12, 205, 88, 0.2) -10px 10px 0 5px, rgba(12, 205, 88, 0.1) -15px 15px 0 5px;
}

#form {
  padding: 30px;
  text-align: center;
  display: table-cell;
}

#label {
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.button,
#alert-button {
  display: block;
  border: 0;
  background-color: var(--secondary);
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
  box-shadow: 0 5px 0 var(--tertiary);
  color: var(--dark);
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  margin: 0 auto 0 auto;
  outline: 0;
  /* padding: 12px 20px; */
  /* padding: 10px; */
  transition: all .05s linear;
}
.button:active,
#alert-button:active {
  box-shadow: 0 2px 0 var(--tertiary);
  transform: translateY(3px);
}


#alert {
  visibility:hidden;
  display: table;
  position: fixed;
  text-align: center;
  width: 500px;
  height: 300px;
  background-color: var(--primary);
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  z-index: 2;
  box-shadow: rgba(12, 205, 88, 0.4) 0 0 0 5px, rgba(12, 205, 88, 0.3) -5px 5px 0 5px, rgba(12, 205, 88, 0.2) -10px 10px 0 5px, rgba(12, 205, 88, 0.1) -15px 15px 0 5px;
}
#alert-box {
  display: table-cell;
  vertical-align: middle;
  padding: 30px;
}
#alert-text {
  padding: 10px;
  color: var(--secondary);
  font-weight: bold;
  font-size: x-large;
}

.figure:hover {
  cursor: pointer;
}

/* ball 1 */
@keyframes xAxis1 {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(850px);
  }
}
@keyframes yAxis1 {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(125px);
  }
}
#fake1 {
  /* background: tomato; */
  opacity: 75%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  animation: yAxis1 5s infinite ease-out;
}
#fig1 {
  background-color: aqua;
  opacity: 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px;
  height: 100px;
  width: 100px;
  animation: xAxis1 6s infinite ease-in;
  transition: 200ms ease-in-out;
}
#fig1:hover {
  opacity: unset;
  transition: 200ms ease-in-out;
}
#fig1-2 {
  background-color: aqua;
  opacity: 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px;
  height: 100px;
  width: 100px;
  animation: xAxis1 5s infinite ease-in;
  transition: 200ms ease-in-out;
}
#fig1-2:hover {
  opacity: unset;
  transition: 200ms ease-in-out;
}


/* ball 2 */
@keyframes xAxis2 {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(750px);
  }
}
@keyframes yAxis2 {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(15px);
  }
}
#fake2 {
  /* background: tomato; */
  opacity: 75%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  animation: yAxis2 5s infinite ease-out;
}
#fig2 {
  background-color: magenta;
  opacity: 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px;
  height: 100px;
  width: 100px;
  animation: xAxis2 3s infinite ease-in;
  transition: 200ms ease-in-out;
}
#fig2:hover {
  opacity: unset;
  transition: 200ms ease-in-out;
}


/* ball 3 */
@keyframes xAxis3 {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(450px);
  }
}
@keyframes yAxis3 {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(350px);
  }
}
#fake3 {
  opacity: 75%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  animation: xAxis3 5s infinite ease-out;
}
#fig3 {
  background-color: yellow;
  opacity: 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px;
  height: 100px;
  width: 100px;
  animation: yAxis3 7s infinite ease-in;
  transition: 200ms ease-in-out;
}
#fig3:hover {
  opacity: unset;
  transition: 200ms ease-in-out;
}


/* ball 4 */
@keyframes xAxis4 {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(450px);
  }
}
@keyframes yAxis4 {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(350px);
  }
}
#fake4 {
  opacity: 75%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  animation: xAxis4 5s infinite ease-out;
}
#fig4 {
  background-color: tomato;
  opacity: 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px;
  height: 100px;
  width: 100px;
  animation: yAxis4 2s infinite ease-in;
  transition: 200ms ease-in-out;
}
#fig4:hover {
  opacity: unset;
  transition: 200ms ease-in-out;
}


/* ball 6 */
@keyframes xAxis6 {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(450px);
  }
}
@keyframes yAxis6 {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(350px);
  }
}
#fake6 {
  opacity: 75%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  animation: xAxis6 2s infinite ease-out;
}
#fig6 {
  background-color:deepskyblue;
  opacity: 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px;
  height: 100px;
  width: 100px;
  animation: yAxis6 6s infinite ease-in;
  transition: 200ms ease-in-out;
}
#fig6:hover {
  opacity: unset;
  transition: 200ms ease-in-out;
}


/* ball 7 */
@keyframes xAxis7 {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(650px);
  }
}
@keyframes yAxis7 {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(100px);
  }
}
#fake7 {
  opacity: 75%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  animation: xAxis7 10s infinite ease-out;
}
#fig7 {
  background-color:violet;
  opacity: 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px;
  height: 100px;
  width: 100px;
  animation: yAxis7 6s infinite ease-in;
  transition: 200ms ease-in-out;
}
#fig7:hover {
  opacity: unset;
  transition: 200ms ease-in-out;
}


/* ball 8 */
@keyframes xAxis8 {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(400px);
  }
}
@keyframes yAxis8 {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(25px);
  }
}
#fake8 {
  /* background: tomato; */
  opacity: 75%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  animation: yAxis8 3s infinite ease-out;
}
#fig8-1 {
  background-color: red;
  opacity: 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px;
  height: 100px;
  width: 100px;
  animation: xAxis8 6s infinite ease-in;
  transition: 200ms ease-in-out;
}
#fig8-1:hover {
  opacity: unset;
  transition: 200ms ease-in-out;
}
#fig8-2 {
  background-color: red;
  opacity: 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px;
  height: 100px;
  width: 100px;
  animation: xAxis8 5s infinite ease-in;
  transition: 200ms ease-in-out;
}
#fig8-2:hover {
  opacity: unset;
  transition: 200ms ease-in-out;
}
#fig8-3 {
  background-color: red;
  opacity: 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px;
  height: 100px;
  width: 100px;
  animation: xAxis8 4s infinite ease-in;
  transition: 200ms ease-in-out;
}
#fig8-3:hover {
  opacity: unset;
  transition: 200ms ease-in-out;
}


/* ball 9 */
@keyframes xAxis9 {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(100px);
  }
}
@keyframes yAxis9 {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(50px);
  }
}
#fake9 {
  /* background: tomato; */
  opacity: 75%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  animation: xAxis9 5s infinite ease-out;
}
#fig9 {
  background-color:lawngreen;
  opacity: 50%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px;
  height: 100px;
  width: 100px;
  animation: yAxis9 3s infinite ease-in;
  transition: 200ms ease-in-out;
}
#fig9:hover {
  opacity: unset;
  transition: 200ms ease-in-out;
}

footer {
  margin-top: 200px;
  background-color: var(--primary);
  color: #0CCD58;
}