:root {
  --primary: #000408;
  --secondary: #0CCD58;
  --tertiary: #0B6A26;
  --light: #DFEFE2;
  --dark: #000801;
}

body {
  background-color: var(--primary);
  overflow-x: hidden;
}

header {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--primary);
}
#home {
  text-decoration: none;
  color: var(--secondary);
  font-family: 'Courier New', Courier, monospace;
  /* font-weight: bold; */
  font-size: xx-large;
}
#level-tracker {
  color: #0CCD58;
  font-size: x-large;
  float: right;
  padding-right: 50px;
}

.row {
  display: flex;
  height: 30vh; 
}
.box {
  border:none;
}

#quiz {
  background-color: var(--primary);
  color: var(--secondary);
  display: table;
  border-radius: 0;
  padding: 30px;
  z-index: 1;
  box-shadow: rgba(12, 205, 88, 0.4) 0 0 0 5px, rgba(12, 205, 88, 0.3) -5px 5px 0 5px, rgba(12, 205, 88, 0.2) -10px 10px 0 5px, rgba(12, 205, 88, 0.1) -15px 15px 0 5px;
}

#form {
  padding: 30px;
  text-align: center;
  display: table-cell;
}

#label {
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.button,
#alert-button {
  display: block;
  border: 0;
  background-color: var(--secondary);
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
  box-shadow: 0 5px 0 var(--tertiary);
  color: var(--dark);
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  margin: 0 auto 0 auto;
  outline: 0;
  /* padding: 12px 20px; */
  /* padding: 10px; */
  transition: all .05s linear;
}
.button:active,
#alert-button:active {
  box-shadow: 0 2px 0 var(--tertiary);
  transform: translateY(3px);
}


#alert {
  visibility:hidden;
  display: table;
  position: fixed;
  text-align: center;
  width: 500px;
  height: 300px;
  background-color: var(--primary);
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  z-index: 2;
  box-shadow: rgba(12, 205, 88, 0.4) 0 0 0 5px, rgba(12, 205, 88, 0.3) -5px 5px 0 5px, rgba(12, 205, 88, 0.2) -10px 10px 0 5px, rgba(12, 205, 88, 0.1) -15px 15px 0 5px;
}
#alert-box {
  display: table-cell;
  vertical-align: middle;
  padding: 30px;
}
#alert-text {
  padding: 10px;
  color: var(--secondary);
  font-weight: bold;
  font-size: x-large;
}