*{
    box-sizing: border-box;
    /* font-family: Gotham Rounded, sans-serif; */
    font-weight: normal;
}

body {
    
    max-width: 1000px;
    padding: 0;
    margin: auto;
    background-image: radial-gradient(circle, #006711 0%, #110101 100%);}
main{
    background-image: radial-gradient(circle, #006711 0%, #110101 100%);}
img {
    display: block;
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 300px;
}

#plus {
    top: 300px;
}

#pen {
    top: 500px;
}
#eqal{
    top: 720px;
    left: 100px;
}
#onepen{
    left: 1200px;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: minmax(120px, auto) repeat(8, 100px);
}
a{
    text-decoration: none;
    color: black;
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid>button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}







.button,
#alert-button {
  display: block;
  border: 0;
  background-color: grey;
  /* border-radius: 4px; */
  box-shadow: 0 5px 0 white;
  color: #fff;
  cursor: pointer;
  font-size: large;
  margin: 0 auto 0 auto;
  outline: 0;
  /* padding: 12px 20px; */
  transition: all .1s linear;
}
.button:active,
#alert-button:active {
  box-shadow: 0 2px 0 white;
  transform: translateY(3px);
}


#alert {
  visibility: hidden;
  display: table;
  position: fixed;
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: burlywood;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}
#alert-box {
  display: table-cell;
  vertical-align: middle;
}
#alert-text {
  font-weight: bold;
  font-size: x-large;
}