#box5 {
  display: table;
}

#form {
  padding: 30px;
  text-align: center;
  display: table-cell;
}

#label {
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.button {
  display: block;
  font-weight: bold;
  font-size: large;
  margin: 0 auto 0 auto;
  border: none;
  background-color: grey;
  color: white;
  padding: 5px 15px 5px 15px;
  transition: 300ms;
}
.button:hover {
  background-color: black;
  transition: 300ms;
}
.button:focus {
  outline: 0;
}