main {
  margin: auto;
  background-image: url(/team/musab/img/42669630_custom-2048x934.jpg);
  height: 900px;
  width: 1800px;
  position: relative;
}

#ps {
  background-color: white;
  color: black;
  text-align: center;
}

#divo {
  background-color: blue;
  cursor: pointer;
  width: 85px;
  height: 45px;
  display: inline-block;
  position: absolute;
  top: 220px;
  left: 490px;
}

.box {
  border: none;
  background: none;
}

#box2 {
  height: 30px;
  width: 50px;
  position: absolute;
  top: 190px;
}

#box5 {
  background: linear-gradient(to right, rgb(230, 216, 177), rgb(33, 34, 16));
  position: absolute;
  height: 300px;
  width: 500px;
  top: 400px;
  left: 650px;
}

#answers {
  background-color: blue;
  position: relative;
  color: black;
  top: 160px;
}

#Fan {
  position: relative;
  height: 100px;
  width: 300px;
  left: 520px;
  top: -30px;
}

#form {
  padding: 30px;
  text-align: center;
  display: table-cell;
}

#label {
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.button, #alert-button {
  display: block;
  border: 0;
  background-color: grey;
  /* border-radius: 4px; */
  box-shadow: 0 5px 0 white;
  color: #fff;
  cursor: pointer;
  font-size: large;
  margin: 0 auto 0 auto;
  outline: 0;
  /* padding: 12px 20px; */
  transition: all .1s linear;
}

.button:active, #alert-button:active {
  box-shadow: 0 2px 0 white;
  transform: translateY(3px);
}

#alert {
  visibility: hidden;
  display: table;
  position: fixed;
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: burlywood;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}

#alert-box {
  display: table-cell;
  vertical-align: middle;
}

#alert-text {
  font-weight: bold;
  font-size: x-large;
}

#firstTarget {
  width: 50px;
}